%h1 Todos

%input#create-todo(placeholder='What needs to be done ?')
- @all_todos.each do |todo|
  .todo{:id => "todo-#{todo.id}"}
    %input(type="checkbox"){:checked => todo.completed?}
      = todo.title
